<div *ngIf="isVisible"
     class="fixed bottom-4 right-4 z-50 flex items-center gap-3 p-4 rounded-md bg-[#FFDDD2] text-black shadow-lg transition-opacity duration-500"
     [ngClass]="{ 'opacity-100': isFadingIn, 'opacity-0': isFadingOut }">
  <!-- Imagen -->
  <img src="misseurosinfondo.png" alt="DonTacaño"
       class="w-12 h-12 object-contain rounded-full" />
  <!-- Mensajes -->
  <div>
    <p class="font-semibold">{{ message }}</p>
    <p class="text-sm">{{ subMessage }}</p>
  </div>
</div>