<a
  routerLink="/"
  class="fixed top-4 left-4 bg-[#E29578] text-white py-2 px-4 rounded-lg hover:bg-[#D17A61] transition z-50">
  Volver al inicio
</a>

<section class="min-h-screen flex items-center justify-center bg-[#EDF6F9] px-4">
  <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">
    <h2 class="text-3xl font-bold text-[#006D77] text-center mb-6">Iniciar Sesión</h2>
    <form (ngSubmit)="login()" class="space-y-4">
      <div>
        <label class="block text-[#006D77] font-medium mb-1">Correo electrónico</label>
        <input [(ngModel)]="email" name="email" type="email" required
               class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#83C5BE]">
      </div>
      <div class="relative">
        <label class="block text-[#006D77] font-medium mb-1">Contraseña</label>
          <input [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'" required class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#83C5BE]">
          <button type="button"
            (click)="togglePassword()" class="absolute right-3 top-[42px] text-gray-500 focus:outline-none">
            <!-- Ojo abierto -->
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="h-5 w-5 opacity-60">
              <path d="M12 4.5c-4.74 0-8.777 2.943-10.5 7.5 1.723 4.557 5.76 7.5 10.5 7.5s8.777-2.943 10.5-7.5c-1.723-4.557-5.76-7.5-10.5-7.5Zm0 12a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9Z"/>
              <path d="M12 9.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
            </svg>
            <!-- Ojo cerrado -->
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-40" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.269-2.943-9.543-7a10.05 10.05 0 012.455-3.837m1.888-1.414 A9.964 9.964 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.978 9.978 0 01-4.305 5.274M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18"/>
            </svg>
          </button>
      </div>
      
      <div *ngIf="errorMessage" class="text-red-600 text-sm text-center">
        {{ errorMessage }}
      </div>

      <button type="submit"
        [disabled]="!email || !password"
        class="block text-center w-full bg-[#006D77] text-white font-semibold py-2 px-4 rounded-xl hover:bg-[#005961] transition-colors duration-200 disabled:opacity-50">
          Entrar
      </button>
    </form>
  </div>
</section>